body
{
    font-family: OpenSans;
}

input:focus
{
    outline: none;
}

.btn-blue
{
    border: none;
    background-color: #515be6;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 25px;
}

.btn-menu
{
    width: 35px;
    height: 24px;
    border: none;
    background: none;
    position: relative;
    padding: 0;
}

.btn-menu span
{
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin-left: auto;
}

.btn-menu :after, .btn-menu :before
{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;

}

.btn-menu :after
{
    top: 0;
    left: 0;
}

.btn-menu :before
{
    bottom: 0;
    left: 0;
}

.navbar
{
    background-color: #1d1d1d;
    color: #ffffff;
}

.navbar .container
{
    padding: 0;
}

.contacts-phone
{
    padding-left: 25px;
    position: relative;    
}

.contacts-phone::before
{
    content: url("../images/icons/phone.png");
    position: absolute;
    left: 0;
}

.contacts-phone a
{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.contacts-phone a b
{
    font-weight: 600;
}

.contacts-phone a:first-child
{
    margin-right: 10px;
}

.search-form
{
    width: 115px;
    padding-right: 25px;
    position: relative;
    border-bottom: 1px solid #313131;
}

.search-form input
{
    width: 100%;
    background: none;
    border: none;
    
    color: #ffffff;
    font-size: 14px;    

}

.search-form:before
{
    content: url(../images/icons/loupe.png);
    position: absolute;
    right: 0;
}

