body
{
    font-family: OpenSans;
}

input:focus, button:focus
{
    outline: none;
}

.title
{
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}

.title b
{
    font-weight: 700;
    color: #515be6;
}

.sub-title
{
    font-size: 24px;
    font-weight: 300;
    color: #a9a9a9;
    text-align: center;
    margin-top: 20px;
}

.btn-blue
{
    border: none;
    background-color: #515be6;
    color: #ffffff;
    font-size: 14px;
    position: relative;
    padding: 10px 30px;
}

.btn-blue.continue
{
    padding: 15px 90px 15px 25px;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    
}

.btn-blue.continue:after
{
    content: "";
    height: 100%;
    width: 65px;
    background: url(../images/icons/arrow.png) no-repeat center center;
    position: absolute;
    top: 0;
    right: 0;
    border-left: 1px solid #616bf3;
}

.btn-blue.sm
{
    padding: 10px 25px;
}

.btn-menu
{
    width: 35px;
    height: 24px;
    border: none;
    background: none;
    position: relative;
    padding: 0;
}

.btn-menu span
{
    width: 80%;
    height: 2px;
    background-color: #ffffff;
    display: block;
    margin-left: auto;
}

.btn-menu :after, .btn-menu :before
{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    position: absolute;

}

.btn-menu :after
{
    top: 0;
    left: 0;
}

.btn-menu :before
{
    bottom: 0;
    left: 0;
}

.btn-simple
{
    color: #616bf3;
    font-size: 14px;
    border: none;
    background: none;
    transition: 0.2s;
}

.btn-simple.continue
{
    padding-right: 25px;
    padding-left: 0;
    position: relative;
    margin-top: 25px;
}

.btn-simple.continue:after
{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 100%;
    background: url(../images/icons/arrow-blue.png) no-repeat center center;
}

.navbar
{
    background-color: #1d1d1d;
    color: #ffffff;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

.menu-wrapper .btn-blue
{
    display: none;
}

.navbar .container
{
    padding: 0;
}

.contacts-phone
{
    padding-left: 25px;
    position: relative;    
}

.contacts-phone::before
{
    content: url("../images/icons/phone.png");
    position: absolute;
    left: 0;
}

.contacts-phone a
{
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
}

.contacts-phone a b
{
    font-weight: 600;
}

.contacts-phone a:first-child
{
    margin-right: 10px;
}

.search-form
{
    width: 115px;
    padding-right: 25px;
    position: relative;
    border-bottom: 1px solid #313131;
}

.search-form input
{
    width: 100%;
    background: none;
    border: none;
    
    color: #ffffff;
    font-size: 14px;    

}

.search-form:before
{
    content: url(../images/icons/loupe.png);
    position: absolute;
    right: 0;
}

.carousel
{
    position: relative;
    margin-top: 70px;
}

.carousel-item-wrapper
{
    height: 675px;
    position: relative;
    display: flex;
    align-items: center;
}

.carousel-item-wrapper img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.carousel-item-wrapper .container
{
    color: #ffffff;
}

.carousel-item-wrapper h1
{
    font-size: 54px;
    text-transform: uppercase;
    font-weight: 800;
}

.carousel-item-wrapper h2
{
    font-size: 35px;
    font-weight: 300;
}

.carousel-item-wrapper h3
{
    font-size: 18px;
    font-weight: 300;
    color: #ffdd00;
}

.carousel-item-wrapper h3 a 
{
    color: #ffdd00;
    text-decoration: underline;
}

.border-wrapper
{
    border-left: 20px solid #ffdd00;
    
}

.border-wrapper .border-header
{
    width: 350px;
    height: 60px;
    border-top: 20px solid #ffdd00;
    border-right: 20px solid #ffdd00;
}

.border-wrapper .border-content
{
    padding-left: 20px;
    padding-bottom: 45px;
}

.border-wrapper .border-footer
{
    
    border-bottom: 20px solid #ffdd00;
    border-right: 20px solid #ffdd00;
    width: 350px;
}

.carousel-nav
{
    display: inline-flex;
    position: absolute;
    bottom: 5%;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 40px;
}

.carousel-nav .carousel-nav-dots .owl-dot
{
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    border: none;
    margin: 0 5px;
    opacity: 0.7;
}

.carousel-nav .carousel-nav-dots .owl-dot.active
{
    background-color: #515be6;
}

.carousel-nav-arrows button
{
    width: 20px;
    height: 30px;
    border: none;
    background: none;
    position: absolute;
    bottom: 0;
}

.carousel-nav-arrows .owl-next
{
  
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.carousel-nav-arrows .owl-prev
{
    left:0;
    top: 50%;
    transform: translateY(-50%);
}

.our-clients
{
    background-color: #f6f6f6;
    padding: 35px;
}

.our-clients .owl-carousel .client-item
{
    display: flex;
    justify-content: center;
}

.our-clients .owl-carousel .owl-stage
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our-clients .owl-carousel .client-item img
{
    max-width:100%; 
    height:auto
}

.our-clients .owl-carousel .owl-item img
{
    width: auto!important;
}

.specialization-item
{
    max-width: 265px;
    min-width: 220px;
    display: block;
    color: #000000;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    padding: 30px;
    position: relative;
    text-align: left;
}

.specialization-item:hover::after
{
    border: 1px solid #616bf3;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.specialization-item:hover
{
    text-decoration: none;
}

.specialization-item:hover .item-number:after
{
    height: 0;
}

.specialization-item:hover .item-number
{
    color: #616bf3;
}

.specialization-item:hover .btn-simple
{
    font-weight: 700;
}

.specialization-item .item-number
{
    font-size: 36px;
    font-weight: 700;
    color: #e5e5e5;
    position: relative;
    
}

.specialization-item .item-number:after
{
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transition: 0.2s;
}

.specialization-item h4
{
    font-family: PTSerif;
    font-size: 17px;
    
}

.specialization-item:hover h4
{
    color: #000000;
}

.specialization-wrapper
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

.our-specialization
{
    padding: 75px 0;
    text-align: center;
}

.our-practice
{
    position: relative;
}

.our-practice:after
{
    content: "";
    position: absolute;
    width: 54%;
    height: 80%;
    right: 0;
    bottom: 0;
    border-top: 60px solid #ffdd00;
    border-left: 60px solid #ffdd00;
    z-index: -1;
}

.practice-slider
{
    margin-top: 75px;
}

.practice-slider h2
{
    font-size: 21px;
    font-weight: 700;
    margin-top: 50px;
}

.practice-slider h3
{
    font-size: 18px;
    font-weight: 700;
    margin-top: 50px;
}

.practice-slider p
{
    font-family: PTSerif;
    font-size: 18px;
    font-weight: 300;
}

.practice-slider .btn-blue
{
    margin-top: 50px;
}

.practice-slider img
{
    width: 100%;
    height: auto;
}

.practice-slider .carousel-nav .owl-dot
{
    opacity: 1;
    background-color: #000000;
}

.practice-slider .carousel-nav .carousel-nav-arrows button
{
    padding: 0;
}

.practice-slider .carousel-nav .carousel-nav-arrows button img
{
    height: 100%;
    width: auto;
}

.practice-slider .carousel-nav 
{
    bottom: 10%;
    position: relative;
    margin-top: 30px;
}

.reviews
{
    padding: 95px 0;
    background: url(../images/reviews-bg.jpg);
    background-size: cover;
    position: relative;
}

.reviews .title
{
    color: #ffffff;
}

.review-item
{
    background: rgba(0, 0, 0, 0.7);
    padding-left: 25px;
    padding-right: 45px;
    padding-bottom: 50px;
    color: #ffffff;
    margin-top: 40px;
}

.review-image img
{
    margin-top: -20px;
}

.review-image
{
    display: inline-block;
}

.review-info
{
    display: inline-block;
    padding-left: 25px;
    padding-top: 55px;
}

.review-item .review-name
{
    display: block;
    font-family: Intro;
    font-weight: 700;
    font-size: 18px;
    
}

.review-item .review-company
{
    display: block;
    font-family: Intro;
    font-weight: 400;
    font-size: 15px;
    
}

.review-header
{
    display: flex;
}

.review-item .review-content
{
    margin-top: 35px;
    font-family: Intro;
    font-size: 16px;
}

.press-center img
{
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    top: 0;
    left: 0;
    /*border: 7px solid #ffffff;*/
    z-index: -1;
}

.press-center-wrapper
{
    display: flex;

    height: 430px;
}

.press-center-item.big
{
    width: 50%;
    height: 100%;
}

.press-center-item.large
{
    width: 100%;
    height: 50%;
}

.press-center-item.sm
{
    width: 50%;
    height: 50%;
}

.press-center-item-right-side
{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.press-center-item
{
    padding: 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.5s;
}

.press-center
{
    padding-top: 90px;
}

.press-center .title
{
    margin-bottom: 50px;
}

.press-center-item.tag-actual:after
{
    content: "Актуально";
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #616bf3;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 25px;
    left: 25px;
    transition: 0.5s;
}

.press-center-item.tag-our:after
{
    content: "Наша процесс";
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px 15px;
    background-color: #616bf3;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 25px;
    left: 25px;
    transition: 0.5s;
}

.press-center-item.tag-live:before
{
    content: url(../images/icons/live.jpg);
    position: absolute;
    top: 25px;
    right: 25px;
    transition: 0.5s;
    z-index: 1;
}

.press-center-item-description
{
    font-family: PTSerif;
    color: #ffffff;
    position: relative;
    transition: 0.5s;
    /*position: absolute;
    bottom: 10px;
    left: 10px;*/
    transition: 0.5s;
    /*width: 100%;*/
    height: 100%;
    width: 100%;
}

.press-center-item-description h2
{
    font-weight: 400;
    font-size: 22px;
}

.press-center-item-description p
{
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

.press-center-item-description a
{
    font-family: OpenSans;
    font-weight: 300;
    font-size: 14px;
    color: #616bf3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    margin-top: 15px;
}

.press-center-item-description a::before
{
    content: url(../images/icons/arrow-blue.png);
    position: absolute;
    right: 0;
}

.press-center-item.big:hover .press-center-item-description-text
{
    left: 50%;
    bottom: 55%;
    transform: translate(-50%, 50%);    
    width: 100%;
}

.press-center-item.large:hover .press-center-item-description-text
{
    left: 50%;
    bottom: 55%;
    transform: translate(-50%, 50%);    
    width: 100%;
}

.press-center-item.sm:hover .press-center-item-description-text
{
    left: 50%;
    bottom: 60%;
    transform: translate(-50%, 50%);    
    width: 100%;
}

.press-center-item.sm .press-center-item-description-text
{
    padding: 15px;
}

.press-center-item:hover.tag-live:before, .press-center-item:hover.tag-our:after, .press-center-item:hover.tag-actual:after
{
    opacity: 0;
}

.press-center-item-description:after
{
    opacity: 0;
    transition: 0.5s;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    top: 0;
    left: 0;
}

.press-center-item:hover .press-center-item-description:after
{    
    opacity: 0.8;
}

.press-center-item:hover .press-center-item-description a
{
    opacity: 1;
    pointer-events: initial;
}

.press-center-item-description-text
{
    position: absolute;
    z-index: 5;
    padding: 25px 35px;
    bottom: 0;
    left: 0;
    transition: all 0.5s;
    width: 100%;
}

.about-us
{
    margin-top: 100px;
}

.about-us .row
{
    margin: 90px 0;
}

.about-us .blue-text
{
    color: #616bf3;
    display: block;
    font-size: 30px;
    font-weight: 700;
}

.about-us .big-text
{
    font-size: 40px;
}

.about-us p
{
    font-weight: 300;
    font-size: 16px;
}

.about-us .col:first-child
{
    border-right: 1px solid #e5e5e5;
}

.about-us .col:nth-child(2)
{
    padding-left: 100px;
}

.about-us  .col:nth-child(2) p
{
    font-size: 18px;
    color: #a9a9a9;
}

.consultation
{
    padding: 100px 0;
    background: url(../images/consultation-bg.jpg);
    background-size: cover;
}

.consultation .title
{
    color: #ffffff;
}

.consultation .form-wrapper
{
    width: 375px;
    margin: 50px auto 0 auto;
}

.form-group 
{
    text-align: left;
}

.consultation-form
{
    text-align: center;
}

.consultation-form label
{
    color: #ffffff;
    font-weight: 300;
    font-size: 14px;
}

.consultation-form input
{
    padding: 25px 20px;
    border-radius: 0;
    background-color: #b4b4b4;
    border: none;
    transition: 0.5s;
}

.consultation-form .btn-blue
{
    margin-top: 40px;
}

footer
{
    background: #1d1d1d;
    color: #ffffff;
}

.footer-wrapper
{
    padding: 50px 0;
}

footer .contacts-phone
{
    padding-left: 30px;
}

.contacts-adress
{
    padding-left: 30px;
    font-weight: 300;
    position: relative;
    margin: 30px 0;
}

.contacts-adress:after
{
    content: url(../images/icons/adress.png);
    position: absolute;
    left: 0;
    top: 5px;
}

.contacts-email
{
    font-weight: 700;
    padding-left: 30px;
    position: relative;
}

.contacts-email:after
{
    content: url(../images/icons/email.png);
    position: absolute;
    left: 0;
}

footer .social
{
    text-align: center;
}

footer .social span
{
    font-weight: 700;
    display: block;
}

.footer-wrapper
{
    display: flex;
    justify-content: space-between;
}

footer .social .social-links
{
    display: flex;
    justify-content: space-evenly;
    margin: 15px 0 30px 0;
}

.copyright
{
    font-size: 12px;
    width: 280px;
}

.footer-down .footer-item:nth-child(1) a
{
    font-size: 13px;
    font-weight: 700;
    text-decoration: underline;
    color: #ffffff;
}

.footer-down .footer-item:nth-child(2) a
{
    font-size: 13px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: underline;
}

.footer-down .footer-item:nth-child(2) a span
{
    color: #373b85;
    text-decoration: underline;
}

footer .border-line
{
    border-bottom: 1px solid #353535;
}

.modal .modal-content
{
    border-radius: 0;
    border: none;
}

.modal .modal-header
{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: none;
}

.modal .modal-dialog
{
    max-width: 575px;
}

.modal .form-wrapper
{
    width: 375px;
    margin: 25px auto;
}

.modal .form-wrapper label
{
    color: #000000;
}

.modal .form-wrapper input
{
    background-color: #f3f3f3;
}

.modal .form-wrapper .btn-blue
{
    margin-top: 20px;
}

.modal .politics
{
    font-size: 12px;
    display: block;
    text-align: center;
}

.modal .politics a
{
    color: #616bf3;
}

.menu-wrapper
{
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 105;
    background-color: rgba(97, 107, 243, 0.8);
    width: 35%;
    height: 100vh;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.menu-wrapper.active
{
    right: 0;
}

.menu-wrapper .menu
{
    list-style: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
}

.menu-wrapper .menu li
{
    margin-bottom: 20px;
}

.btn-close
{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 15px;
    border: none;
    background: none;
}

.btn-close:after
{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

.btn-close:before
{
    content: "";
    height: 2px;
    width: 100%;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-45deg) ;
}

.menu-wrapper .contacts-phone
{
    display: none;
}

.page-title-section
{
    min-height: 300px;
    margin-top: 74px;
    position: relative;
    display: flex;
    align-items: center;
}

.page-title-section h1
{
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
}


.page-title-section h2
{
    font-weight: 300;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 25px;
}

.page-title-section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page-title-section .btn-blue
{
    margin-top: 25px;
    font-size: 20px;
}

.page-title-section.size-large
{
    min-height: 500px;
}

.contacts 
{
    position: relative;
    height: 550px;
}

.contacts .container, .contacts .container .row
{
    height: 100%;
}

.contacts .container .col
{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 5;
}

.contacts .contacts-phone a
{
    color: #000000;
    display: block;
}

.contacts .contacts-email
{
    text-decoration: underline;
}

.contacts .contacts-phone::before
{
    content: url(../images/icons/phone2.png);
}

.contacts .contacts-email::after
{
    content: url(../images/icons/email2.png);
}

.contacts .contacts-adress::after
{
    content: url(../images/icons/adress2.png);
}

.contacts .container [class*="contacts-"]
{
    padding-left: 50px;
    margin: 25px 0;
}

.contacts .container [class*="contacts-"]:before, .contacts .container [class*="contacts-"]:after
{
    top: 60%;
    transform: translateY(-50%);
}

[class*="ymaps-2"][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

[class*="ymaps-2"][class*="-controls__control"]
{
    left: auto!important;
    right: 10px!important;
}

.ymap
{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bankruptcy-item
{
    width: 310px;
    text-align: center;
    padding: 20px;
    
    position: relative;
}

.bankruptcy-item:after
{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.bankruptcy-item img
{
    filter: grayscale(100%); 
    opacity: 0.3;
    transition: 0.5s;
}

.bankruptcy-item h1
{
    font-size: 17px;
    font-weight: 700;
    margin: 25px 0 20px 0;
}

.bankruptcy-item p
{
    font-weight: 300;
    font-size: 14px;
    opacity: 0;
    transition: 0.5s;
}

.bankruptcy-item:hover img
{
    opacity: 1;
    filter: none;
}

.bankruptcy-item:hover p
{
    opacity: 1;
}

.bankruptcy-item:hover:after
{
    border: 1px solid #515be6;
}

.bankruptcy-wrapper
{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
    justify-content: space-between;
}

.bankruptcy-sect
{
    padding-top: 90px;
}

.bankruptcy-who .row
{
    margin: 70px 0 70px 0;
}

.bankruptcy-who .row .col:first-child
{
    padding-left: 18%;
    padding-right: 5%;
    background: url('../images/bankruptcy/bg.jpg') no-repeat;
    background-size: cover;    
    
}

.bankruptcy-who .row .col:nth-child(2)
{
    padding-right: 18%;
    padding-left: 5%;
    background: url('../images/bankruptcy/bg2.jpg') no-repeat;
    background-size: cover;    
}

.bankruptcy-who .row .col:nth-child(2) ul
{
    margin-top: 40px;
}



.bankruptcy-who .row .col
{
    padding-top: 90px;
    padding-bottom: 120px;
    transition: 0.5s;
    color: #ffffff;
}

.bankruptcy-who .row .col.hidden
{
    flex: 0 0 0%;
    max-width: 0%;
    max-height: 0;
    padding: 0;
}

.bankruptcy-who .row .col .container
{
    position: relative;
}

.bankruptcy-who .row .col .btn-close
{
    opacity: 0;
    transition: 0.5s;
}

.bankruptcy-who .row .col.active .btn-close
{
    opacity: 1;
    z-index: 10;
}

.bankruptcy-who .row .col.active
{
    flex: 0 0 100%;
    max-width: 100%;
    padding-left: 0!important;
    padding-right: 0!important;
}

.bankruptcy-who-title
{
    font-family: PTSerif;
    display: block;
    font-size: 40px;
    padding-left: 50px;
    position: relative;
}

.bankruptcy-who-title:after
{
    content: "";
    position: absolute;
    width: 23px;
    height: 23px;
    background-color: #000000;
    border: 2px solid #515be6;
    left: 0;
    top: 55%;
    transform: translate(0%, -50%);
}

.bankruptcy-who-list-title
{
    font-weight: 700;
    font-size: 17px;
    display: block;
    margin-bottom: 30px;
    margin-top: 40px;
}

ul
{
    font-family: PTSerif;
    font-size: 18px;
    font-weight: 300;
    list-style-type: square;
    color: #515be6;    
}

ul p 
{
    color: #212529;
}


.bankruptcy-who-description
{
    max-height: 200px;
    overflow: hidden;
    transition: 0.9s;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(rgba(255, 255, 255, 0.5)));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bankruptcy-who-description.active
{
    max-height: 2000px;
    background: none;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: #ffffff;
}

.bankruptcy-who-description-open
{
    border: none;
    background: none;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px;
    text-decoration: underline;
}

.hidden
{
    opacity: 0;
    pointer-events: none;
}

.bankruptcy-who-description .btn-blue
{
    margin-top: 25px;
}

.corporate-sect
{
    text-align: justify;
    margin-bottom: 100px;
}

.corporate-sect .title
{
    margin-bottom: 70px;
}

.corporate-sect .col:first-child
{
    padding-right: 33px;
}

.corporate-sect .col:nth-child(2)
{
    padding-left: 33px;
}

.corporate-sect .col:first-child p
{
    margin-bottom: 45px;
}

.corporate-sect b
{
    text-align: left;
    display: block;
    margin-bottom: 30px;
}

.work-item .count
{
    font-weight: 700;
    font-size: 36px;
    color: #ffffff;
    background-color: #515be6;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-item .work-title
{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 15px;
}

.work-item 
{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.work-wrapper
{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    margin: 80px 0 150px 0;
}